# Terraform
.terraform/
**/.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/The-Magnolia-Project.iml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/misc.xml
.idea*
terraform/environments/.DS_Store
terraform/modules/.DS_Store
terraform/environments/dev/terraform.tfvars
